<ion-item>
  <ion-label position="floating">Location</ion-label>
  <ion-input [(ngModel)]="input"></ion-input>
</ion-item>

<section>
  <ion-button color="primary" (click)="searchLocation()">Search</ion-button>
  <ion-button color="danger" (click)="clearInput()">Clear</ion-button>
  <ion-button color="dark" (click)="loadHistory()">History</ion-button>
</section>

<ion-grid *ngIf="results$ | async as results ">
  <ion-row *ngFor="let result of results" class="ion-align-items-center">
    <ion-col size="12">
      <div><b>Location: </b>{{ (result.local_names !== undefined && result.local_names.pt !== undefined) ? result.local_names.pt : result.name }}</div>
    </ion-col>
    <ion-col size="12">
      <div><b>Lat: </b>{{ result.lat }}</div>
    </ion-col>
    <ion-col size="12">
      <div><b>Long: </b>{{ result.lon }}</div>
    </ion-col>
    <ion-col size="12">
      <div><b>State: </b>{{ result.state }}</div>
    </ion-col>
    <ion-col size="12">
      <div><b>Country: </b>{{ result.country }}</div>
    </ion-col>
    <ion-col size="12" style="text-align: end;">
      <ion-button size="small" color="success" (click)="emitEvent({ page: 'result', result })">Open</ion-button>
    </ion-col>
    <ion-item-divider></ion-item-divider>
  </ion-row>
</ion-grid>
